
node_modules/

.env

.env.*

!.env.example

npm-debug.log*

.DS_Store

Thumbs.db

public/uploads/*
!public/uploads/drawings/
!public/uploads/drawings/.gitkeep
!public/uploads/student-drawings/
!public/uploads/student-drawings/.gitkeep

public/uploads/drawings/*.png
public/uploads/student-drawings/*.png